extends base

block content
    main.main
        div.login-form
            h2.heading-secondary.ma-bt-lg Please provide your email
            form.form.form--forget-password
                div.form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                button.btn.btn--green.btn--forget-password Send password recovery link