extends base

block content
    main.main
        div.login-form
            h2.heading-secondary.ma-bt-lg Change your password
            form.form.form--reset-password(data-token= token)
                div.form__group
                    label.form__label(for='password') New Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                div.form__group.ma-bt-md
                    label.form__label(for='password') Confirm Password
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                div.form__group
                    button.btn.btn--green Change Password